<div class="class-equip-selector">
  <h2>Clase y Arma Inicial</h2>
  
  <div class="form-group">
    <label for="clase">Clase:</label>
    <select 
      id="clase" 
      [(ngModel)]="clase" 
      (ngModelChange)="onClaseChange()">
      <option value="">Selecciona una clase</option>
      <option *ngFor="let claseOption of clasesDisponibles" [value]="claseOption">
        {{ claseOption }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="arma">Arma:</label>
    <select 
      id="arma" 
      [(ngModel)]="arma" 
      (ngModelChange)="onArmaChange()">
      <option value="">Selecciona un arma</option>
      <option *ngFor="let armaOption of armasDisponibles" [value]="armaOption">
        {{ armaOption }}
      </option>
    </select>
  </div>
</div>
